.wrapper-landing {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .senkrecht {
    transform: rotate(-90deg);
    font-size: clamp(0.6rem, -0.273rem + 4.36vw, 3rem);
  }
}

.headline {
  h1 {
    font-size: clamp(1rem, -1.545rem + 12.73vw, 8rem);
    margin: 0;
  }
  h2 {
    color: #4b47ff;
    font-size: clamp(1rem, -0.091rem + 5.45vw, 4rem);
    margin: 0;
  }
}

.backgrounds {
  overflow: hidden;
}

.background {
  z-index: -4;
  position: absolute;
  height: 90%;
  top: 15%;
}

.left {
  left: -250px;
}

.right {
  right: -400px;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-left {
  margin-left: 50px;
}

.footer-right {
  margin-bottom: 70px;
  font-size: 1.2rem;
  transform: rotate(90deg);

  img {
    margin-left: 5px;
    transform: rotate(-90deg);
  }
}
