.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .senkrecht {
    transform: rotate(-90deg);
    font-size: 3rem;
  }
}

.headline {
  h1 {
    font-size: 8rem;
    margin: 0;
  }
  h2 {
    color: #4b47ff;
    font-size: 4rem;
    margin: 0;
  }
}

.background {
  z-index: -4;
  position: absolute;
  height: 90%;
  top: 15%;
}

.left {
  left: -250px;
}

.right {
  right: -400px;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-left {
  margin-left: 50px;
}

.footer-right {
  margin-right: -15px;
  margin-bottom: 45px;
  transform: rotate(90deg);
}
