.wrapper {
  border-top: 4px solid #00bee8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 280px;

  .left {
    margin-left: 25px;
    display: flex;
    flex-direction: column;

    img {
      width: 40%;
      height: auto;
    }
  }

  .middle {
    display: flex;
    justify-content: center;
  }

  .right {
    display: flex;
    justify-content: end;
    gap: 20px;
    margin-right: 25px;
  }

  .content {
    width: 30%;
  }

  .text {
    font-size: 1.3rem;
  }
}

h1 {
  font-size: 5rem;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 700px) {
  .wrapper {
    flex-direction: column;
    justify-content: space-around;

    .left {
      display: flex;
      align-items: center;
      justify-items: center;
      flex-direction: column;

      img {
        width: 70%;
        height: auto;
      }
    }
  }
}
