.wrapper {
  border-top: 4px solid #00bee8;
  grid-template-columns: 1fr 1fr 1fr;
  height: 280px;

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      width: 40%;
      height: auto;
    }
  }

  .middle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right {
    display: flex;
    justify-content: end;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr;

    .left {
      display: flex;
      align-items: center;
      justify-items: center;
      flex-direction: column;
      margin: 0;

      img {
        width: 70%;
        height: auto;
      }
    }

    .middle {
      text-align: center;
    }

    .right {
      display: flex;
      justify-content: center;
      margin-right: 0;
    }
  }
}
