<div class="wrapper">
  <div class="left content">
    <h1>Kay</h1>
    <a href="#">Impressum</a>
  </div>
  <div class="middle content text">&copy; Kay Beckmann 2023</div>
  <div class="right content">
    <a href="#">
      <img src="./../../assets/icons/github.png" alt="Github" />
    </a>

    <a href="mailto:#">
      <img src="./../../assets/icons/mail.png" alt="Mail" />
    </a>

    <a href="#">
      <img src="./../../assets/icons/linkedin.png" alt="LinkedIn" />
    </a>
  </div>
</div>
