<div class="wrapper">
  <div class="left content">
    <h1>Kay</h1>
    <a href="#">Impressum</a>
  </div>
  <div class="middle content text">&copy; Kay Beckmann 2023</div>
  <div class="right content">
    <a href="https://github.com/KayBeckmann?tab=repositories" target="_blank">
      <img src="./../../assets/icons/github.png" alt="Github" />
    </a>

    <a href="mailto:kay.beckmann@web.de">
      <img src="./../../assets/icons/mail.png" alt="Mail" />
    </a>

    <a
      href="https://www.linkedin.com/in/kay-beckmann-71a602109/"
      target="_blank"
    >
      <img src="./../../assets/icons/linkedin.png" alt="LinkedIn" />
    </a>
  </div>
</div>
