<div class="wrapper">
  <div class="left">
    <h1>ABOUT ME</h1>
    <div class="content">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos quia
        magni nobis mollitia debitis corrupti, autem at possimus? Nulla
        perspiciatis dignissimos quo ipsa numquam quod hic ipsam earum explicabo
        voluptas! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos
        quia magni nobis mollitia debitis corrupti, autem at possimus? Nulla
        perspiciatis dignissimos quo ipsa numquam quod hic ipsam earum explicabo
        voluptas!
      </p>
      <div class="information">
        <img src="./../../assets/img/bulb.png" alt="Bulb" />
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos quia
          magni nobis mollitia debitis corrupti, autem at possimus? Nulla
          perspiciatis dignissimos quo ipsa numquam quod hic ipsam earum
          explicabo voluptas!
        </p>
      </div>
      <div class="information">
        <img src="./../../assets/img/puzzle.png" alt="Piece of puzzle" />
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos quia
          magni nobis mollitia debitis corrupti, autem at possimus? Nulla
          perspiciatis dignissimos quo ipsa numquam quod hic ipsam earum
          explicabo voluptas!
        </p>
      </div>
    </div>
  </div>
  <div class="right">
    <img src="./../../assets/img/profil.png" alt="Profilbild" />
  </div>
</div>
