<div class="wrapper">
  <div class="left">
    <h1>ABOUT ME</h1>
    <div class="content">
      <p>
        Hi, ich bin Front-end Entwickler aus Menzendorf, Deutschland. Als
        Quereinsteiger freue ich mich auf neue spannende Herausforderungen. Nach
        20 Jahren als Meister der Elektrotechnik, möchte ich nun von der
        'Hardware Programmierung' zur Software Programmierung wechseln.
      </p>
      <div class="information">
        <img src="./assets/img/bulb.png" alt="Bulb" />
        <p>
          Interesse besteht auch im Bereich der Fullstack-Entwicklung (der Kurs
          läuft noch). Weiterhin beschäftige ich mich mit Docker, Ansible, etc.
        </p>
      </div>
      <div class="information">
        <img src="./assets/img/puzzle.png" alt="Piece of puzzle" />
        <p>Programmieren im Allgemeinen: SAP, C, C++, Python, VBA....</p>
      </div>
    </div>
  </div>
  <div class="right">
    <img src="./assets/img/profil.png" alt="Profilbild" />
  </div>
</div>
