<div class="wrapper">
  <div class="left">
    <h1>ABOUT ME</h1>
    <div class="content">
      <p>
        Hi, I am a Front-end deverloper based in München, Germany(....)Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor sem non
        tempus convallis. Integer et justo vitae urna finibus eleifend sit amet
        porttitor sapien. Donec sollicitudin massa vel lorem vestibulum
        efficitur.
      </p>
      <div class="information">
        <img src="./assets/img/bulb.png" alt="Bulb" />
        <p>
          Some personal thing to share(...) Donec ut imperdiet diam, et
          convallis neque. Class aptent taciti sociosqu ad litora torquent per
          conubia nostra, per inceptos himenaeos.
        </p>
      </div>
      <div class="information">
        <img src="./assets/img/puzzle.png" alt="Piece of puzzle" />
        <p>
          Some personal thing to share(...) Donec ut imperdiet diam, et
          convallis neque. Class aptent taciti sociosqu ad litora torquent per
          conubia nostra, per inceptos himenaeos.
        </p>
      </div>
    </div>
  </div>
  <div class="right">
    <img src="./assets/img/profil.png" alt="Profilbild" />
  </div>
</div>
