.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 15px;
  margin-bottom: 50px;
}

.left {
  // width: 45%;
  z-index: 10;
}

.right {
  background-image: url("./../../assets/img/shadow_3.png");
  // width: 45%;
  display: flex;
  justify-content: center;
  align-items: end;

  img {
    width: 90%;
    object-fit: fill;
  }
}

.information {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  img {
    z-index: 10;
    height: 40px;
    width: auto;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.5);
    }
  }
}

@media (max-width: 800px) {
  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    // justify-content: space-around;
  }

  .right {
    background-image: url("./../../assets/img/shadow_3.png");
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left {
    width: 90%;
  }
}
