.wrapper {
  grid-template-columns: 3fr 2fr;
}

.right {
  background-image: url("./../../assets/img/shadow_3.png");

  img {
    width: 90%;
    object-fit: fill;
  }
}

.information {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  img {
    z-index: 10;
    height: 40px;
    width: auto;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.5);
    }
  }
}

@media (max-width: 800px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .right {
    order: 1;
    background-image: url("./../../assets/img/shadow_3.png");
  }

  .left {
    order: 2;
  }
}
