<div class="card">
  <div>
    <div class="img">
      <img src="{{ item.img }}" alt="{{ item.title }}" />
    </div>
    <div class="content">
      <h1>{{ item.title }}</h1>
      <div class="description">{{ item.description }}</div>
      <div class="tech">
        <span *ngFor="let tech of item.technic">{{ tech }} | </span>
      </div>
      <div class="buttons">
        <a class="button primary" href="{{ item.github }}" target="_blank"
          >Github</a
        >
        <a class="button secondary" href="{{ item.live }}" target="_blank"
          >Try it</a
        >
      </div>
    </div>
  </div>
</div>
