.wrapper {
  background-color: greenyellow;
}

/*
.wrappercontent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100dvw;
}
*/
