.wrappercontact {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.d-none {
  display: none !important;
}

.infobox {
  border: 1px solid #00bee8;
  border-radius: 10px;
  background-color: #141d2f;
  color: white;
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  width: 42%;
  height: 320px;
}

.text {
  margin-bottom: 15px;

  span {
    font-weight: bold;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-top: 15px;
  margin-bottom: 25px;

  input,
  textarea {
    width: 90%;
    height: 40px;
    border: 1px solid #00bee8;
    border-radius: 10px;
    background-color: #141d2f;
    color: white;
    padding-left: 15px;
    font-size: 1.3rem;

    :active {
      border: 1px solid #00bee8;
    }
  }

  textarea {
    height: 7.5rem;
  }
}

@media (max-width: 800px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100dvw;
  }

  .text {
    width: 90dvw;
  }

  form {
    width: 90%;
  }

  .infobox {
    width: 90%;
    height: 320px;
  }
}

/*
input {
  &.ngtouched,
  &.ng-dirty {
    background-repeat: no-repeat;
    background-position: 98%;
    &.ng-invalid {
      border: 1px solid #e61c40 !important;
      background-image: url("./../../assets/img/alert.png");
    }
    &.ng-valid {
      border: 1px solid #70e61c !important;
      background-image: url("./../../assets/img/checked.png");
    }
  }
  .error {
    color: red;
  }
}
*/
