<nav>
  <div class="left">
    <!-- ToDo: als LOGO designen!! -->

    <a href="#"><img src="./assets/logo.svg" alt="Kay" /></a>
  </div>
  <div class="right">
    <div class="desktop">
      <a href="#aboutMe" class="aktive">About me</a>
      <a href="#skills">Skills</a>
      <a href="#portfolio">Portfolio</a>
    </div>
    <div class="mobile">
      <img
        class="pointer"
        src="./assets/icons/burgermenu.png"
        alt="burger"
        (click)="toggleMenu()"
      />
    </div>
  </div>
</nav>
<!-- Mobil Menu -->
<!-- ToDo: links als div, mit Funktion: goTo(string) -->
<div class="nav-mobile d-none" id="mobilemenu">
  <div class="pointer" (click)="goTo('aboutMe')">About Me</div>
  <div class="pointer" (click)="goTo('skills')">Skills</div>
  <div class="pointer" (click)="goTo('portfolio')">Portfolio</div>
  <div class="pointer" (click)="goTo('contact')">Contact</div>
</div>
