nav {
  z-index: 999;
  background-color: #141d2f;
  width: 100dvw;
  height: 109px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: clamp(2.4rem, 1.7rem + 3.73vw, 4.5rem);
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100dvw;
  height: 100dvh;
  background-color: #414856;
  z-index: 900;
  position: fixed;
  top: 0;
}

.left {
  padding-left: 37px;
}

.mobile {
  display: none;
}

.right {
  padding-right: 37px;
}

.desktop {
  a {
    text-decoration: none;
    font-size: clamp(0.75rem, 0.386rem + 1.82vw, 1.75rem);
    color: white;
    margin-right: 29px;

    &:hover {
      color: #1cdae6;
    }
  }

  .active {
    border-bottom: 3px solid #4b47ff;
  }
}

.d-none {
  display: none;
}

.coloriezed {
  color: #4b47ff;
}

@media (max-width: 700px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    height: 25px;
    width: auto;
  }

  .text {
    font-size: clamp(2rem, 1.273rem + 3.64vw, 4rem);
  }
}
