<div class="skills">
  <img class="desktop" src="./assets/img/vector.png" alt="" />

  <div class="wrapper">
    <div class="left">
      <div class="row" *ngFor="let row of skills">
        <app-icons *ngFor="let skill of row" [skill]="skill"></app-icons>
      </div>
    </div>
    <div class="right">
      <div class="text">
        <div class="headline">
          <h1>SKILLS</h1>
          <!-- <hr /> -->
        </div>
        <div>
          I have gained experience in building projects with various front end
          technologies and concepts.
        </div>
      </div>
      <div class="button">
        <button
          class="primary"
          onClick="document.getElementById('contact').scrollIntoView();"
        >
          Let's talk!
        </button>
      </div>
    </div>
  </div>
</div>
