.skills {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;

  img {
    height: 350px;
    width: 98dvw;
    margin-top: -90px;
    z-index: 0;
  }
}

.wrapper {
  gap: 20px;

  .left-mobile {
    display: none;
  }

  .left-desktop {
    display: flex;
    justify-content: flex-start;

    .row {
      margin-bottom: 20px;
    }
  }

  .right {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 10px;

    .headline {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;

      h1 {
        display: flex;
        margin-bottom: 20px;
      }

      hr {
        width: 100%;
      }
    }
    .button {
      display: flex;
      justify-content: center;
      height: 58px;
      margin-top: 20px;
    }
  }
}

@media (max-width: 1050px) {
  .desktop {
    display: none;
  }

  .wrapper {
    grid-template-columns: 1fr;
    margin-top: 30px;

    .right {
      order: 1;
    }

    .left-desktop {
      order: 2;
    }
  }
}

@media (max-width: 650px) {
  .wrapper {
    .left-desktop {
      display: none !important;
    }

    .left-mobile {
      order: 2;
      display: flex;
      flex-flow: wrap;
    }
  }
}

@media (max-width: 370px) {
  .wrapper {
    padding-left: 0;
    padding-right: 0;

    .right {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
