.skills {
  display: flex;
  flex-direction: column;

  img {
    height: 350px;
    width: 100%;
    margin-top: -150px;
  }
}

.wrapper {
  color: white;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 56px;
  }

  .left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 10px;

    .row {
      margin: 10px;
      width: 100%;
      display: flex;
      flex-direction: row;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    p {
      font-size: 1.1rem;
    }
  }
}
