/* You can add global styles to this file, and also import other style files */

html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-color: #141d2f;
  font-family: "Open Sans", sans-serif;
  color: white;
  overflow-x: hidden;
}

button {
  background-color: #00bee8;
  box-shadow: 4px 4px 4px 0px #00000040;
  color: white;
  font-size: 1.5rem;
  border-radius: 10px;
  left: 93px;
  padding: 20px;
  border: 1px;

  &:hover {
    background-color: #4b47ff;
    left: 93px;
    border: 1px;
  }
}

.pointer {
  cursor: pointer;
}
