/* You can add global styles to this file, and also import other style files */

/* pt-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/pt-sans-v17-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-color: #141d2f;
  font-family: "PT Sans", "Open Sans", sans-serif;
  color: white;
  overflow-x: hidden !important;
}

button {
  box-shadow: 4px 4px 4px 0px #00000040;
  width: Hug (107px);
  height: Hug (58px);
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
  gap: 10px;
  color: white;
  font-size: 1.5rem;
  border: 1px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: #4b47ff;
    padding: 20px 40px 20px 40px;
  }
}

.primary {
  background-color: #00bee8;
}

.secondary {
  background-color: #4b47ff;
}

.pointer {
  cursor: pointer;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #00bee8 #141d2f;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #141d2f;
}

*::-webkit-scrollbar-thumb {
  background-color: #00bee8;
  border-radius: 10px;
  border: 3px solid #141d2f;
}
